<%= form_with(model: sermon, local: true) do |form| %>
  <% if sermon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sermon.errors.count, "error") %> prohibited this sermon from being saved:</h2>

      <ul>
      <% sermon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :speaker %>
    <%= form.text_field :speaker %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
