<p id="notice"><%= notice %></p>

<h1><%= @sermon.title %></h1>
<h3><%= @sermon.speaker %></h3>
<h4><%= @sermon.date %></h4>

<% @sermon_sections.each do |section| %>
  <h2>
    <%= section.title %>
  </h2>
  <p>
    <%= section.speaker_note %>
  </p>
<% end %>

<br>

<%= link_to 'Send Sermon Email', send_sermon_notes_email_path %>
