<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sermon.title %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @sermon.speaker %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sermon.date %>
</p>

<%= link_to 'Edit', edit_sermon_path(@sermon) %> |
<%= link_to 'Back', sermons_path %>
