<p id="notice"><%= notice %></p>

<h1>Sermon Sections</h1>

<table>
  <thead>
    <tr>
      <th>Speaker note</th>
      <th>Personal note</th>
      <th>Sermon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sermon_sections.each do |sermon_section| %>
      <tr>
        <td><%= sermon_section.speaker_note %></td>
        <td><%= sermon_section.personal_note %></td>
        <td><%= sermon_section.sermon %></td>
        <td><%= link_to 'Show', sermon_section %></td>
        <td><%= link_to 'Edit', edit_sermon_section_path(sermon_section) %></td>
        <td><%= link_to 'Destroy', sermon_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sermon Section', new_sermon_section_path %>
